langchain
langchain-core
langchain-community
langchain-experimental
langchain_anthropic
langchain-huggingface
langchain-openai
langchainhub
langsmith
langgraph
python-dotenv
grandalf
rich
tavily-python
pandas
# faiss-cpu
# langchain_chroma
# nltk
# wikipedia